<ion-tabs class="tabs-positive tabs-icon-top">
    <ion-tab title="主页" icon-on="ion-home" icon-off="ion-home"
             ui-sref="tabs.home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <ion-tab title="音乐" icon-on="ion-ios-musical-notes" icon-off="ion-ios-musical-notes"
             ui-sref="tabs.music">
        <ion-nav-view name="tab-music"></ion-nav-view>
    </ion-tab>
    <ion-tab title="设置" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline"
              ui-sref="tabs.setup">
        <ion-nav-view name="tab-setup"></ion-nav-view>
    </ion-tab>
</ion-tabs>