<ion-view view-title="我的等级" id="grade">
    <ion-content>
        <ion-item class="gd" style="height: 500px; background-color: #FFC900">
            <p>Josshon<br/><span style="">ID:9527</span></p>
            <div class="line">
            </div>
            <p>LV.5</p>
            <p>LV.4</p>
            <p>LV.3</p>
            <p>LV.2</p>
            <p>LV.1</p>
            <p><img src="images/touxiang1.png"></p>
            <p>完成二次挑战活动<br/>和五次静坐升级</p>
        </ion-item>
        <div class="list">
            <p style="margin-left:30px;">当前状态</p>
            <ul>
                <li><img src="images/tiao1.png">
                    <p>完成挑战活动</p><span>次</span><strong>3</strong></li>
                <li><img src="images/zhuan.png">
                    <p>共完成30分钟静坐</p><span>次</span><strong>7</strong></li>
            </ul>


        </div>
        <div class="item">
            <p class="txt">完成1次挑战活动<br/>和完成3次30分钟静坐升级</p>
            <button class="button button-calm" style="float: left">LV.2</button>
            <button class="button button-balanced" style="float: right">LV.3</button>
            <div class="lv"></div>
        </div>

        <div class="item" style="font-size: 20px; margin: 0 auto; width:300px; margin-top: 30px; border-radius:10px; text-align: center;"><p>3个月无记录将会自动降级</p></div>
    </ion-content>
</ion-view>
