<ion-view view-title="设置">
    <ion-content class=" has-header">
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>静坐时间选择
        </div>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>静坐设置
        </div>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>倒计时设置
        </div>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>语音类型
        </div>
        <div class="item item-toggle">
            新鲜事通知
            <label class="toggle toggle-dark">
                <input type="checkbox"/>
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
        <div class="item item-toggle">
            图片浏览省流量
            <label class="toggle toggle-dark">
                <input type="checkbox"/>
                <div class="track">
                    <div class="handle"></div>
                </div>
            </label>
        </div>
    </ion-content>

</ion-view>