<ion-view view-title="公益活动" id="activity">
    <ion-content>
        <div class="item item-image">
            <img src="images/map.png"/>
        </div>
        <div class="item head">
            <p>点击点亮上海</p>
            <img src="images/head.png">

        </div>

        <div class="digit" style="width: 50px; text-align: center;">
           <ul>
               <li>0</li>
               <li>3</li>
               <li>5</li>
               <li>2</li>
               <li>7</li>
           </ul>

        </div>
    </ion-content>
</ion-view>