<ion-view view-title="我的个人信息" id="data">

    <ion-content class="has-header">
        <ion-item class="item gr">
            <div class="tou">
                <img src="images/touxiang2.png"/>
            </div>
        </ion-item>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>昵称:{{item.name}}
        </div>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>性别:{{item.sex}}
        </div>

        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>身高:{{item.height}}
        </div>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>体重:{{item.weight}}
        </div>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>生日:{{item.birthday}}
        </div>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-chevron-right dark"></i></button>所在地:{{item.native}}
        </div>
        <div class="item item-button-right">
            <button class="button button-clear"><i class="icon ion-locked calm"></i><i class="icon ion-chevron-right dark"></i></button>修改登录密码
        </div>
    </ion-content>
</ion-view>